<!DOCTYPE html>
<html>
<head>
<title>LoVa</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="LoVa" />
    <meta name="description" content="Я зарегистрирован на lova.su. Там вся страна!" />
    <link rel="image_src" href="http://lova.su/img/logo.gif" />
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
</head>
<body>
    <table class="container">
        <tr><td class="login">
                <form id="loginForm" method="POST" action = "/login/" class="form-inline" [% url.search('login') ? '' : 'style="visibility:hidden"' %]>
                    <label class="control-label" for="login">Логин</label>
                    <input name="login"    type="text"     class="input-small" placeholder="Логин">
                    <label class="control-label" for="password">Пароль</label>
                    <input name="password" type="password" class="input-small" placeholder="Пароль">
                </form>
            </td>
            <td class="login-control">
                <a [% IF userId %]href="/cab/"[% ELSE %]href="javascript:loginAction();"[% END %] class="btn btn-primary">Войти</a>
                <a href="/ru/"><img src="http://pemes.net/templates/images/ru.gif" class="img-rounded"></a>
                <a href="/en/"><img src="http://pemes.net/templates/images/gb.gif" class="img-rounded"></a>
            </td>
        </tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td>
                <div id="registerDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
                  <form id="registerForm" data-async class="form-horizontal" method="POST" action="/register/">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="registerLabel">Регистрация</h3>
                  </div>
                  <div class="modal-body">
                      <div class="control-group">
                        <label class="control-label" for="first_name">Имя*</label>
                        <div class="controls">
                            <input type="text" name="first_name" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="last_name">Фамилия</label>
                        <div class="controls">
                            <input type="text" name="last_name">
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="login">Ник*</label>
                        <div class="controls">
                            <input type="text" name="login" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="email">Почта*</label>
                        <div class="controls">
                            <input type="email" name="email" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="password">Пароль*</label>
                        <div class="controls">
                            <input type="password" name="password" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    <button name="register" type="submit" class="btn btn-primary">Регистрация</button>
                  </div>
                  </form>
                </div>        
            </td>
            <td class="register"><a href="#registerDiv" data-toggle="modal" class="btn btn-success btn-large btn-block">Регистрация</a></td>
        </tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td rowspan="2">[% contentRu %]</td>
            <td class="network-icons">
                <a rel="nofollow" class="fb" title="Поделиться в Facebook" href="#"></a>
                <a rel="nofollow" class="vk" title="Поделиться В Контакте" href="#"></a>
                <a rel="nofollow" class="ok" title="Добавить в Одноклассники" href="#"></a>
            </td>
        </tr>
        <tr><td class="content" colspan="2">
        </td>
            
        </tr>
        
    </table>
</body>
</html>