<!DOCTYPE html>
<html>
<head>
    <title>LOVA</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="LOVA" />
    <meta name="description" content="Я зарегистрирован на lova.su. Там вся страна!" />
    <link rel="image_src" href="http://lova.su/img/logo.jpg" />
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41618016-1', 'lova.su');
      ga('send', 'pageview');
    </script>        
</head>
<body>
    <table class="container">
        <tr><td class="login" [% url.search('login') ? '' : 'style="visibility:hidden"' %]>
                <a href="#restoreDiv" data-toggle="modal">Забыли пароль?</a>
            </td>
            <td></td>
        </tr>
        <tr><td class="login" [% url.search('login') ? '' : 'style="visibility:hidden"' %]>
                <form id="loginForm" method="POST" action = "/login/" class="form-inline">
                    <label class="control-label" for="login">Логин</label>
                    <input name="login"    type="text"     class="input-small" placeholder="Логин">
                    <label class="control-label" for="password">Пароль</label>
                    <input name="password" type="password" class="input-small" placeholder="Пароль">
                </form>
            </td>
            <td class="login-control">
                <a [% IF userId %]href="/cab/"[% ELSE %]href="javascript:loginAction();"[% END %] class="btn btn-primary">Войти</a>
                <a href="/ru/"><img src="http://pemes.net/templates/images/ru.gif" class="img-rounded"></a>
                <a href="/en/"><img src="http://pemes.net/templates/images/gb.gif" class="img-rounded"></a>
            </td>
        </tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td></td>
            <td class="register"><a href="#registerDiv" data-toggle="modal" class="btn btn-success btn-large btn-block">Регистрация</a></td>
        </tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td rowspan="2">[% contentRu %]</td>
            <td class="network-icons">
                <a rel="nofollow" class="fb" title="Поделиться в Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=lova.su" onClick='fbShare(); return false;' style="margin-left: 0px"></a>
                <a rel="nofollow" class="vk" title="Поделиться В Контакте" target="_blank"href="http://vk.com/share.php?url=http%3A%2F%2Flova.su" onmouseup="this._btn=event.button;this.blur();" onclick="return VK.Share.click(0, this);"></a>            
                <a rel="nofollow" class="ok" title="Добавить в Одноклассники" target="_blank" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=lova.su" onClick='okShare(); return false;'></a>
                <a rel="nofollow" class="mm" title="Поделиться в Моем Мире @Mail.ru" target="_blank" href="http://connect.mail.ru/share" onClick='mmShare(); return false;'></a>
            </td>
        </tr>
        <tr><td class="content" colspan="2">
        </td>
            
        </tr>
        
    </table>
    
    <div id="registerDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
      <form id="registerForm" data-async class="form-horizontal" method="POST" action="/register/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="registerLabel">Регистрация</h3>
      </div>
      <div class="modal-body">
          <div class="control-group">
            <label class="control-label" for="first_name">Имя*</label>
            <div class="controls">
                <input type="text" name="first_name" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="last_name">Фамилия</label>
            <div class="controls">
                <input type="text" name="last_name">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="login">Ник*</label>
            <div class="controls">
                <input type="text" name="login" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">Почта*</label>
            <div class="controls">
                <input type="email" name="email" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Пароль*</label>
            <div class="controls">
                <input type="password" name="password" required>
                <span class="help-inline"></span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button name="register" type="submit" class="btn btn-primary">Регистрация</button>
      </div>
      </form>
    </div>        
    
    <div id="restoreDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="restoreLabel" aria-hidden="true">
      <form id="restoreForm" data-async class="form-horizontal" method="POST" action="/restore/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="restoreLabel">Восстановление пароля</h3>
      </div>
      <div class="modal-body">
          <div class="alert alert-error hide">Логин или E-mail не найден</div>
          <div class="alert alert-success hide">Сcылка для восстановления пароля отправлена на почту</div>
          <div class="control-group">
            <label class="control-label" for="first_name">Введите логин</label>
            <div class="controls">
                <input type="text" name="login">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">Или e-mail</label>
            <div class="controls">
                <input type="email" name="email">
                <span class="help-inline"></span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button name="restore" type="submit" class="btn btn-primary">Восстановить</button>
      </div>
      </form>
    </div>        
    
</body>
</html>