<!DOCTYPE html>
<html>
<head>
<title>LoVa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
</head>
<body>
    <table class="container">
        <tr><td class="login">
                <form id="loginForm" method="POST" action = "/login/" class="form-inline" [% url.search('login') ? '' : 'style="visibility:hidden"' %]>
                    <label class="control-label" for="login">Логин</label>
                    <input name="login"    type="text"     class="input-small" placeholder="Логин">
                    <label class="control-label" for="password">Пароль</label>
                    <input name="password" type="password" class="input-small" placeholder="Пароль">
                </form>
            </td>
            <td class="login-control">
                <a [% IF userId %]href="/cab/"[% ELSE %]href="javascript:loginAction();"[% END %] class="btn btn-primary">Войти</a>
                <a href="/ru/"><img src="http://pemes.net/templates/images/ru.gif" class="img-rounded"></a>
                <a href="/en/"><img src="http://pemes.net/templates/images/gb.gif" class="img-rounded"></a>
            </td>
        </tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td>
                <div id="registerDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
                  <form id="registerForm" data-async class="form-horizontal" method="POST" action="/register/">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="registerLabel">Регистрация</h3>
                  </div>
                  <div class="modal-body">
                      <div class="control-group">
                        <label class="control-label" for="first_name">Имя*</label>
                        <div class="controls">
                            <input type="text" name="first_name" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="last_name">Фамилия</label>
                        <div class="controls">
                            <input type="text" name="last_name">
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="login">Ник*</label>
                        <div class="controls">
                            <input type="text" name="login" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="email">Почта*</label>
                        <div class="controls">
                            <input type="email" name="email" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="password">Пароль*</label>
                        <div class="controls">
                            <input type="password" name="password" required>
                            <span class="help-inline"></span>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    <button name="register" type="submit" class="btn btn-primary">Регистрация</button>
                  </div>
                  </form>
                </div>        
            </td>
            <td class="register"><a href="#registerDiv" data-toggle="modal" class="btn btn-success btn-large btn-block">Регистрация</a></td>
        </tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td rowspan="2">
<p class="text-center"><iframe width="640" height="480" src="http://www.youtube.com/embed/BLLL4cpqw9w?wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>        
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam arcu, facilisis at eleifend eget, posuere id justo. Fusce pulvinar, dui in ultrices condimentum, quam est consequat lacus, quis convallis lectus leo at sem. Nulla venenatis justo vel justo malesuada tempor ornare felis fermentum. Curabitur porttitor hendrerit lectus, quis lacinia tellus sodales a. Praesent at neque eget urna facilisis laoreet vel ac massa. Proin nec mauris ut velit porttitor interdum. Vivamus lacus velit, vulputate nec consectetur non, dapibus ac enim. Morbi et fringilla sem. Donec dignissim purus eget dolor consectetur at congue augue viverra.
<p>Aenean scelerisque interdum ipsum, quis cursus turpis elementum quis. Aliquam sollicitudin sollicitudin erat ut lobortis. Nam vitae leo dolor. Etiam vel augue eget purus euismod mattis vel ut lectus. Nulla risus lectus, cursus quis fermentum nec, cursus vitae nisi. Suspendisse hendrerit fermentum eleifend. Donec eleifend posuere viverra. Praesent blandit erat eu nisl sodales non porttitor quam mattis. Sed egestas arcu eu massa dignissim venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sem tortor, luctus quis auctor ut, dictum id odio. Mauris ac massa enim, et varius velit.
<p>Mauris eget quam mauris, fermentum commodo metus. Nulla viverra rhoncus lorem, in viverra eros ullamcorper a. Donec et nibh sem. Fusce tincidunt pellentesque leo, at consectetur metus suscipit eu. Nullam tempus justo fringilla eros hendrerit ut pretium augue mattis. Maecenas ipsum urna, ultricies vitae rutrum non, ullamcorper vitae tellus. Cras eu libero sem. Curabitur lectus enim, varius nec dictum quis, egestas ut est. Integer nisi massa, porta id sollicitudin sit amet, pellentesque quis enim. Donec vulputate ultricies feugiat. Aliquam a dui eget felis imperdiet malesuada eget ut velit. Suspendisse dictum libero eget ligula vehicula volutpat. Nulla id metus augue. Proin vitae dolor justo, vitae rutrum dolor.
        </td>
            <td class="network-icons">
                <a rel="nofollow" class="fb" title="Поделиться в Facebook" href="#"></a>
                <a rel="nofollow" class="vk" title="Поделиться В Контакте" href="#"></a>
                <a rel="nofollow" class="ok" title="Добавить в Одноклассники" href="#"></a>
            </td>
        </tr>
        <tr><td class="content" colspan="2">
        </td>
            
        </tr>
        
    </table>
</body>
</html>