<!DOCTYPE html>
<html>
<head>
    <title>LOVA - cabinet</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
</head>
<body style="background:url(/img/tile3.jpg)">
    <table height="100%" class="container">
        <tr><td class="logo"><img alt="LoVa" src="/img/logo.gif"></td></tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td valign="top">
        <h3>Профиль</h3>
        <form class="form-horizontal" id="profileForm" data-async method="POST" action="/cab/profile/save/">
          <div class="control-group">
            <label class="control-label" for="first_name">Имя*</label>
            <div class="controls">
                <input type="text" name="first_name" value="[% data.user.getFirstName() %]" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="last_name">Фамилия</label>
            <div class="controls">
                <input type="text" name="last_name" value="[% data.user.getLastName() %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="login">Ник*</label>
            <div class="controls">
                <input type="text" name="login" required [% IF data.user.getLogin() %]disabled[% END %] value="[% data.user.getLogin() %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">Почта*</label>
            <div class="controls">
                <input type="email" name="email" required value="[% data.user.getEmail() %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Пароль</label>
            <div class="controls">
                <input type="password" name="password">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="phone">Телефон</label>
            <div class="controls">
                <input type="text" name="phone" value="[% data.user.getProfile().phone %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="country">Страна</label>
            <div class="controls">
                <input type="text" name="country" value="[% data.user.getProfile().country %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="skype">Скайп</label>
            <div class="controls">
                <input type="text" name="skype" value="[% data.user.getProfile().skype %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group info">
            <label class="control-label" for="referal">Пригласил</label>
            <div class="controls">
                <input type="text" name="referal" [% data.profile.referalDisabled %] value="[% data.user.getReferal() %]">
                <span class="help-inline">поле можно изменить в течении 7 дней с момента регистрации</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="subscribe">Получать еженедельную рассылку</label>
            <div class="controls">
                <input type="checkbox" name="subscribe" value="true" [% IF data.user.getProfile().subscribe != "false" %]checked[% END %]>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class=" class="form-actions">
            <button name="save" type="submit" class="btn btn-primary">Сохранить</button>
            <a class="btn" href="/cab/">Закрыть</a>                       
          </div>
        </form>
        </td></tr>
        <tr><td class="row-separator"></td></tr>
    </table>
</body>
</html>