<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>LOVA</title>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <link rel="stylesheet" type="text/css" href="/lib/ext/resources/css/ext-all.css" />
  <script type="text/javascript" src="/lib/ext/ext-all.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
</head>
<body onload="[% html.body.onload %]" onunload="[% html.body.onunload %]">
  <div id="admin-screen">
  </div>
</body> 
</html> 
