<!DOCTYPE html>
<html>
<head>
    <title>[% content.PAGE_TITLE %]</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="[% content.PAGE_TITLE %]" />
    <meta name="description" content="[% content.PAGE_DESCRIPTION %]" />        
    <link rel="image_src" href="http://lova.su/img/logo.jpg" />
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
        
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <script src="/js/cab.js"></script>
    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41618016-1', 'lova.su');
      ga('send', 'pageview');
    </script>        
    <script>
        var config = {
          maxNumber  : [% data.options.lottery.maxNumber %],
          maxNumbers : [% data.options.lottery.maxNumbers %],
          maxGames   : [% data.options.lottery.maxGames %],
          maxTickets : [% data.options.lottery.maxTickets %],
          gamePrice  : [% data.options.lottery.gamePrice %]
        };
        var session = {
            accPersonal : [% data.account.personal || 0 %], 
            accFond     : [% data.account.fond || 0 %],
            accReferal  : [% data.account.referal || 0 %],
            accWin      : [% data.account.win || 0 %],
            totalSum    : [% data.lottery.session.totalSum || 0 %]
        };
    </script>            
</head>
<body style="background:url(/img/tile3.jpg)">
    <table class="container">
        <tr><td>
            <table width="100%"><tr><td class="logo"><img alt="LoVa" src="/img/logo.gif"></td>
                       <td align="right" valign="center"><a target="_blank" href="http://lovanews.su/">ИнфоСайт</a> | <a href="mailto:lova@pemes.net">Поддержка</a> | <a href="/files/cmc-lova.xls" class="text-error">СМС LOVA</a> | <a href="/cab/profile/">[% content.PROFILE %]</a> | <a href="/cab/logout/">[% content.LOGOUT %]</a></td></tr>
            </table>           
        </td></tr>
        <tr><td>[% IF !data.profile.validateEmail %]<div id="validateEmail" class="alert alert-error">[% content.ALERT_EMAIL %]</div>[% END %]</td></tr>
        <tr><td class="total_win">Выиграно $[% data.options.lottery.totalWin %]</td></tr>
        <tr><td align="center">[% INCLUDE "../tmpl/lottery.tmpl" %]</td></tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td>
            <table width="100%">
                <tr>
                    <td width="21%" class="statHeader registered">Основной счет</td>
                    <td width="5%"></td> 
                    <td width="21%" class="statHeader">[% content.ACCOUNT_FOND %]</td>
                    <td width="5%"></td>                    
                    <td width="11%" class="statHeader" style="border-right: 1px solid #ffffff">[% content.ACCOUNT_REFERALS %]</td>
                    <td width="11%" class="statHeader" style="border-left: 1px solid #ffffff">[% content.ACCOUNT_REFERALS_INVITED %]</td>
                    <td width=""></td>                    
                    <td width="185px" class="statHeader registered">Выигрыш</td>
                </tr>
                <tr>
                    <td class="stat" rowspan="1"><h2>$[% data.account.personal || "0.00" %]</h2></td>
                    <td width="5%" rowspan="1"></td>                    
                    <td class="stat" rowspan="1"><h2>$[% data.account.fond || "0.00" %]</h2></td>
                    <td width="5%" rowspan="1"></td>                    
                    <td class="stat"><h3>$[% data.account.referal || "0.00" %]</h3></td>
                    <td class="stat">[% '<a href="#statDiv" data-toggle="modal">' IF data.referals.all %]<h3>[% data.referals.all || "0" %]</h3>[% '</a>' IF data.referals.all %]</td>
                    <td width="" rowspan="1"></td>                    
                    <td class="stat" rowspan="1"><h2>$[% data.account.win || "0.00" %]</h2></td>
                </tr>
                <tr><td class="row-separator"></td></tr>
                <tr>
                    <td align="center"><button class="btn" type="button">Пополнить счет</button></td>                    
                    <td width="5%" rowspan="1"></td>
                    <td align="center">
                      <span class="network-icons">
                        <a rel="nofollow" class="fb" title="[% content.SHARE_HINT_FACEBOOK %]" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=lova.su" onClick='fbShare();return false;' style="margin-left: 0px"></a>
                        <a rel="nofollow" class="vk" title="[% content.SHARE_HINT_VK %]" target="_blank" href="http://vk.com/share.php?url=http%3A%2F%2Flova.su" onmouseup="this._btn=event.button;this.blur();" onclick="return VK.Share.click(0, this);return false;"></a>            
                        <a rel="nofollow" class="mm" title="[% content.SHARE_HINT_MY_MAIL %]" target="_blank" href="http://connect.mail.ru/share" onClick='mmShare(); return false;'></a>
                      </span>
                    </td>
                    <td width="5%" rowspan="1"></td>                    
                    <td  align="center" colspan="2">
                        <button class="btn btn-info" href="#inviteDiv" data-toggle="modal" >Пригласите друга</button>
                    </td>
                    <td width="" rowspan="1"></td>                    
                    <td align="center"><button class="btn btn-success">Выплата</button></td>
                </tr>
                <tr><td class="row-separator"></td></tr>
                <tr><td></td><td></td><td></td>
                    <td colspan="4" align="center">У вас есть 5 подарочных билетов</td>
                    <td></td>
                </tr>
            </table>
        </td></tr>        
		</table>
		
    <div id="inviteDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="inviteLabel" aria-hidden="true">
      <form id="inviteForm" data-async class="form-horizontal" method="POST" action="/cab/invite/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="restoreLabel">[% content.INVITE_LABEL %]</h3>
      </div>
      <div class="modal-body">
          [% IF !data.user.getLastName() %]
          <div class="alert alert-error">[% content.INVITE_ALERT_PROFILE %]</div>
          [% END %]
          <div class="alert alert-error hide">[% content.INVITE_ALERT_FIELDS_REQUIRED %]</div>
          <div class="alert alert-success hide">[% content.INVITE_ALERT_SEND %]</div>
          <div class="control-group">
            <label class="control-label" for="first_name">[% content.INVITE_FRIEND_NAME %]</label>
            <div class="controls">
                <input type="text" name="first_name" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">[% content.INVITE_FRIEND_EMAIL %]</label>
            <div class="controls">
                <input type="email" name="email" required>
                <span class="help-inline"></span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">[% content.INVITE_BUTTON_CLOSE %]</button>
        [% IF data.user.getLastName() %]
        <button name="invite" type="submit" class="btn btn-primary">[% content.INVITE_BUTTON_SEND %]</button>
        [% END %]
      </div>
      </form>
    </div>

    [% IF data.referals.all %]
    <div id="statDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="statLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="statLabel">Информация рекламного агента</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-error hide"></div>
        <div class="row">
            <div class="span3">Активных приглашенных</div>
            <div class="span2 text-left text-success">[% data.referals.active || "0" %]</div>
        </div>    
        <div class="row">
            <div class="span3">Всего приглашено</div>
            <div class="span2 text-left muted">[% data.referals.all || "0" %]</div>
        </div>
        [%#    
        <div class="row">
            <div class="span3">Прибыль от приглашенных</div>
            <div class="span2 text-left text-success">$0.00</div>
        </div>    
        <div class="row">
            <div class="span3">Ваш рекламный рейтинг</div>
            <div class="span2 text-left"># 123 456</div>
        </div>
        %]    
      </div>
      <div class="modal-footer">
        <a target="_blank" href="/cab/reports/referal/" class="btn btn-primary">Подробный отчет</a>
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Закрыть</button>
      </div>
    </div>
    [% END %]
</body>
</html>