<!DOCTYPE html>
<html>
<head>
    <title>[% content.PAGE_TITLE %]</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
</head>
<body style="background:url(/img/tile3.jpg)">
    <table height="100%" class="container">
        <tr><td class="logo"><img alt="LoVa" src="/img/logo.gif"></td></tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td valign="top">
        <h3>Профиль</h3>
        [% IF !data.user.getFirstName() || !data.user.getEmail() || !data.user.getLogin() %]
        <div class="alert alert-error">[% content.REQUIRED_FIELDS %]</div>
        [% END %]
        <form class="form-horizontal" id="profileForm" data-async method="POST" action="/cab/profile/save/">
          <div class="control-group">
            <label class="control-label" for="subscribe">[% content.PROFILE_LANG %]</label>
            <div class="controls">
                <select name="lang">
                    <option value="ru" [% "selected" IF data.user.getProfile().lang == 'ru' %]>[% content.PROFILE_LANG_RU %]</option>
                    <option value="en" [% "selected" IF data.user.getProfile().lang == 'en' %]>[% content.PROFILE_LANG_EN %]</option>
                    <option value="ua" [% "selected" IF data.user.getProfile().lang == 'ua' %]>[% content.PROFILE_LANG_UA %]</option>
                </select>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="first_name">[% content.PROFILE_FIRST_NAME %]*</label>
            <div class="controls">
                <input type="text" name="first_name" value="[% data.user.getFirstName() %]" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="last_name">[% content.PROFILE_LAST_NAME %]</label>
            <div class="controls">
                <input type="text" name="last_name" value="[% data.user.getLastName() %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="login">[% content.PROFILE_LOGIN %]*</label>
            <div class="controls">
                <input type="text" name="login" required [% IF data.user.getLogin() %]disabled[% END %] value="[% data.user.getLogin() %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">[% content.PROFILE_EMAIL %]*</label>
            <div class="controls">
                <input type="email" name="email" required value="[% data.user.getEmail() %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">[% content.PROFILE_PASSWORD %]</label>
            <div class="controls">
                <input type="password" name="password">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="phone">[% content.PROFILE_PHONE %]</label>
            <div class="controls">
                <input type="text" name="phone" value="[% data.user.getProfile().phone %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="country">[% content.PROFILE_COUNTRY %]</label>
            <div class="controls">
                <input type="text" name="country" value="[% data.user.getProfile().country %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="skype">[% content.PROFILE_SKYPE %]</label>
            <div class="controls">
                <input type="text" name="skype" value="[% data.user.getProfile().skype %]">
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group info">
            <label class="control-label" for="referal">[% content.PROFILE_REFERAL %]</label>
            <div class="controls">
                <input type="text" name="referal" [% data.profile.referalDisabled %] value="[% data.user.getReferal() %]">
                <span class="help-inline">[% content.PROFILE_REFERAL_HINT %]</span>
            </div>
          </div>
          <div class="control-group success">
            <label class="control-label" for="referal">Персональная ссылка</label>
            <div class="controls">
                <input type="text" readonly="readonly" value="http://lova.su/[% data.refLink %]">
                <span class="help-inline">для приглашения</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="subscribe">[% content.PROFILE_SUBSCRIBE %]</label>
            <div class="controls">
                <input type="checkbox" name="subscribe" value="true" [% IF data.user.getProfile().subscribe != "false" %]checked[% END %]>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class=" class="form-actions">
            <button name="save" type="submit" class="btn btn-primary">[% content.PROFILE_SAVE_BTN %]</button>
            <a class="btn" href="/cab/">[% content.PROFILE_CLOSE_BTN %]</a>                       
          </div>
        </form>
        </td></tr>
        <tr><td class="row-separator"></td></tr>
    </table>
</body>
</html>