html, body {height: 100%}
body {padding: 10px;}
form {margin: 0}
.login { text-align: right; padding: 0 15px; }
.login-control { width: 155px; text-align: right; }
.login-control img { margin-left: 10px; }
.register { text-align: right; }
.row-separator { height: 15px; }
.network-icons { vertical-align: top }
.network-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    outline: none;
    padding: 0;
    margin-left: 5px;
    background: url('/img/net-icons.png') -0px 0 no-repeat;
    opacity: 0.5;
}
.network-icons a:hover { opacity: 1; }
.network-icons a.fb { background-position: -0px 0; }
.network-icons a.mm { background-position: -32px 0; }
.network-icons a.ok { background-position: -64px 0; }
.network-icons a.vk { background-position: -96px 0; }

.network-icons-small a {
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: none;
    padding: 0;
    margin-left: 8px;
    background: url('/img/net-icons-small.png') -0px 0 no-repeat;
    opacity: 0.5;
}

.stat {
    border: 1px black solid;
    padding: 0 5px;
    text-align: right;
    background: #ffffff;
}

.stat h3 { margin: 0; }
.statHeader {
    border: 1px solid #3a87ad;
    border-top: 0;
    text-align: right;
    padding: 0 5px;
    background-color: #3a87ad;
    font-weight: bold;
    color: #ffffff;
}
.registered {
    border: 1px solid #468847;
    background-color: #468847;
}
.ajax-loading {
    background-image: url('/img/ajax.gif');
    background-repeat: no-repeat;
    background-position: 7px 50%;
    padding-left: 30px;
}

.arrow {
    background-image: url('/img/arrow.gif');
    background-repeat: no-repeat;
    background-position: 7px 50%;
    padding-left: 50px;
}

.small_counter {
    
}